@model SunshineCleaning.ViewModels.ClientFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Client</h2>


@using (Html.BeginForm("Save", "Clients"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Client.Name)
        @Html.TextBoxFor(m => m.Client.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Client.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Client.SquareFeet)
        @Html.TextBoxFor(m => m.Client.SquareFeet, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Client.Address)
        @Html.TextBoxFor(m => m.Client.Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Client.PhoneNumber)
        @Html.TextBoxFor(m => m.Client.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Client.PhoneNumber)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Client.Email)
        @Html.TextBoxFor(m => m.Client.Email, new { @class = "form-control" })
    </div>

 
     <div class="form-group">
         @Html.LabelFor(m => m.Client.MembershipTypeId)
         @Html.DropDownListFor(m => m.Client.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select MembershipType", new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.Client.MembershipTypeId)
       </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Client.IsSubscribedToNewsLetter) Subscribe to Newsletter?
        </label>
    </div>
    
    @Html.HiddenFor(m => m.Client.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
 
}

