@model IEnumerable<SunshineCleaning.Models.Client>
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client</h2>

<p>
    @Html.ActionLink("New Client", "New", "Clients", null, new { @class = "btn btn-primary btn-sm" })
</p>


    <table id="clients" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Client</th>
                <th>Service Type</th>
                <th>SquareFeet</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                @*<th>News Letter</th>*@
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @*@foreach (var client in Model)
            {
                <tr>
                    <td>@Html.ActionLink(client.Name, "Edit", "Clients", new { id = client.Id }, null)</td>
                    <td>@client.SquareFeet</td>
                    <td>@client.Address</td>
                    <td>@client.PhoneNumber</td>
                    <td>@client.Email</td>             
                    <td>@client.MembershipType.Name</td>
                    <td>@client.IsSubscribedToNewsLetter</td>
                    <td>
                        <button data-client-id="@client.Id" class="btn-link js-delete">Delete</button>
                    </td>
                    
                </tr>
            }*@
        </tbody>
    </table>
    


@section scripts
    
{
    <script>
        $(document).ready(function () {
            //ADDING BOOTBOX DATATABLE PLUGIN
            var table = $("#clients").DataTable({

                //GETTING CLIENTS FROM API
                ajax: {
                    url: "/api/clients",
                    dataSrc: ""
                },
                //SETTING UP THE COLUMNS. each column need an object
                columns: [
                    {   
                        //TELLING DATATABLE PLUGIN WHERE TO GET THE DATA
                        //RENDOR FUNCTION CALLED WHEN CLICKING ON NAME LINK
                        data: "name",
                        render: function (data, type, client) {
                            return "<a href='/clients/edit/" + client.id + "'>" + client.name + "</a>";
                        }
                    },
                    {
                          data: "membershipType.name"
                    },
                    {
                        data: "squareFeet"
                    },
                   
                    {
                        data: "address"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "email"
                    },
                   
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-client-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            //DELETE BUTTON FUNCTION
            $("#clients").on("click", ".js-delete", function () {
                var button = $(this);

                //CREATING BOOTBOX DATATABLE FUNCTION FOR DELETE BUTTON
                bootbox.confirm("Are you sure you want to delete this client?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/clients/" + button.attr("data-client-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();

                            }
                        });
                    }
                });
              
         });
       });
    </script>
}